In [1]:
import pandas as pd

In [2]:
l = [x for x in range(5)]

In [3]:
series = pd.Series(l)

In [4]:
series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
series[3]

3

In [6]:
series = pd.Series(l, index=['a', 'b', 'c', 'd', 'e'])
series

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [7]:
series['c']

2

In [8]:
series = pd.Series(l, index=['a', 'b', 'c', 'd', 'd'])
series['d']

d    3
d    4
dtype: int64

In [9]:
data = {'a':1, 'b':2, 'c':3, 'd':4}

In [10]:
series = pd.Series(data)

In [11]:
series

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
#taking 2 keys from the dictionary
series = pd.Series(data, index=['a', 'b'])

In [13]:
series

a    1
b    2
dtype: int64

Querying a Series

In [14]:
s = pd.Series([x for x in range(1,11)])

In [15]:
s.iloc[0]

1

In [17]:
s.iat[8]

9

In [18]:
s.where(s%2==0)

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [19]:
s.where(s%2==0, 'odd')

0    odd
1      2
2    odd
3      4
4    odd
5      6
6    odd
7      8
8    odd
9     10
dtype: object

In [20]:
s.where(s%2==0,s**2)

0     1
1     2
2     9
3     4
4    25
5     6
6    49
7     8
8    81
9    10
dtype: int64

In [21]:
s.where(s%2==0, inplace=True)

In [22]:
#dropping null values
s.dropna(inplace=True)

In [23]:
s

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [28]:
#filling null values
s.fillna('filled value', inplace=True)

In [29]:
s

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

pandas DataFrames

In [32]:
df =  pd.read_csv('HousingData.csv', parse_dates=True)

In [33]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [35]:
#multi level indexing
df.set_index(['CRIM', 'AGE'])

,,ZN,INDUS,CHAS,NOX,RM,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,AGE,,,,,,,,,,,,
0.00632,65.2,18.0,2.31,0.0,0.538,6.575,4.0900,1,296,15.3,396.90,4.98,24.0
0.02731,78.9,0.0,7.07,0.0,0.469,6.421,4.9671,2,242,17.8,396.90,9.14,21.6
0.02729,61.1,0.0,7.07,0.0,0.469,7.185,4.9671,2,242,17.8,392.83,4.03,34.7
0.03237,45.8,0.0,2.18,0.0,0.458,6.998,6.0622,3,222,18.7,394.63,2.94,33.4
0.06905,54.2,0.0,2.18,0.0,0.458,7.147,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0.06263,69.1,0.0,11.93,0.0,0.573,6.593,2.4786,1,273,21.0,391.99,NaN,22.4
0.04527,76.7,0.0,11.93,0.0,0.573,6.120,2.2875,1,273,21.0,396.90,9.08,20.6
0.06076,91.0,0.0,11.93,0.0,0.573,6.976,2.1675,1,273,21.0,396.90,5.64,23.9
0.10959,89.3,0.0,11.93,0.0,0.573,6.794,2.3889,1,273,21.0,393.45,6.48,22.0
0.04741,NaN,0.0,11.93,0.0,0.573,6.030,2.5050,1,273,21.0,396.90,7.88,11.9

In [36]:
df.index

RangeIndex(start=0, stop=506, step=1)

In [38]:
df.loc[296]

CRIM         0.05372
ZN           0.00000
INDUS       13.92000
CHAS         0.00000
NOX          0.43700
RM           6.54900
AGE         51.00000
DIS          5.96040
RAD          4.00000
TAX        289.00000
PTRATIO     16.00000
B          392.85000
LSTAT        7.39000
MEDV        27.10000
Name: 296, dtype: float64